// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { ApolloSessionSocket } from "./Socket.js";

export declare namespace ApolloSession {
    export interface Options extends BaseClientOptions {}

    export interface ConnectArgs {
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class ApolloSession {
    protected readonly _options: ApolloSession.Options;

    constructor(_options: ApolloSession.Options = {}) {
        this._options = _options;
    }

    public async connect(args: ApolloSession.ConnectArgs = {}): Promise<ApolloSessionSocket> {
        const { headers, debug, reconnectAttempts } = args;
        const _headers: Record<string, unknown> = mergeHeaders(
            mergeOnlyDefinedHeaders({ ...(await this._getCustomAuthorizationHeaders()) }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.ApolloEnvironment.Default)
                        .staging,
                "/ia-controller/api/v1/external/session",
            ),
            protocols: [],
            queryParameters: {},
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new ApolloSessionSocket({ socket });
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "x-network-api-key": apiKeyValue };
    }
}
